xml_json/Report.xsd

<xs:schema id="sampleDataSet"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="trainingCenter">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="students">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="student" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="id" type="xs:long"/>
                                        <xs:element name="fullName" type="stringRestriction"/>
                                        <xs:element name="city" type="stringRestriction"/>
                                        <xs:element name="email" type="emailRestriction"/>
                                        <xs:element name="startDate" type="xs:date"/>
                                        <xs:element name="contract" type="xs:boolean"/>
                                        <xs:element name="programName" type="stringRestriction"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="programs">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="program" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="id" type="xs:long"/>
                                        <xs:element name="programName" type="stringRestriction"/>
                                        <xs:element name="author" type="stringRestriction"/>
                                        <xs:element name="createDate" type="xs:date"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="courses">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="course" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="id" type="xs:long"/>
                                        <xs:element name="courseName" type="stringRestriction"/>
                                        <xs:element name="author" type="stringRestriction"/>
                                        <xs:element name="createDate" type="xs:date"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="tasks">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="task" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="id" type="xs:long"/>
                                        <xs:element name="name" type="stringRestriction"/>
                                        <xs:element name="duration" type="xs:integer"/>
                                    </xs:sequence>
                                    <xs:attribute name="taskType" type="taskTypeRestriction" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="courseTasks">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="courseTask" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="courseID" type="xs:long" />
                                        <xs:element name="taskID" type="xs:long" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                    <xs:unique name="courseTasksUnique">
                        <xs:selector xpath="courseTask"/>
                        <xs:field xpath="courseID"/>
                        <xs:field xpath="taskID"/>
                    </xs:unique>
                </xs:element>

                <xs:element name="studentTasks">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="studentTask" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="studentID" type="xs:long"/>
                                        <xs:element name="taskID" type="xs:long"/>
                                        <xs:choice>
                                            <xs:element name="theoryStatus" type="theoryStatuses"/>
                                            <xs:element name="practiceStatus" type="practiceStatuses"/>
                                        </xs:choice>
                                        <xs:element name="rate" type="rateRestriction" minOccurs="0"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                    <xs:unique name="studentTaskFieldsUnique">
                        <xs:selector xpath="studentTask"/>
                        <xs:field xpath="taskID"/>
                        <xs:field xpath="studentID"/>
                    </xs:unique>
                </xs:element>

                <xs:element name="programCourses">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="programCourse" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="programID" type="xs:long"/>
                                        <xs:element name="courseID" type="xs:long"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                    <xs:unique name="programCoursesFieldsUnique">
                        <xs:selector xpath="programCourse"/>
                        <xs:field xpath="programID"/>
                        <xs:field xpath="courseID"/>
                    </xs:unique>
                </xs:element>

            </xs:sequence>
        </xs:complexType>

        <xs:key name="programUniqueNameKey">
            <xs:selector xpath="programs/program"/>
            <xs:field xpath="programName"/>
        </xs:key>
        <xs:keyref name="studentProgramUniqueKeyRef" refer="programUniqueNameKey">
            <xs:selector xpath="students/student"/>
            <xs:field xpath="programName"/>
        </xs:keyref>

        <xs:key name="programIDUniqueKey">
            <xs:selector xpath="programs/program"/>
            <xs:field xpath="id"/>
        </xs:key>
        <xs:keyref name="programIDUniqueRefKey" refer="programIDUniqueKey">
            <xs:selector xpath="programCourses/programCourse"/>
            <xs:field xpath="programID"/>
        </xs:keyref>

        <xs:key name="courseIDUniqueKey">
            <xs:selector xpath="courses/course"/>
            <xs:field xpath="id"/>
        </xs:key>
        <xs:keyref name="courseIDUniqueRefKey" refer="courseIDUniqueKey">
            <xs:selector xpath="programCourses/programCourse"/>
            <xs:field xpath="courseID"/>
        </xs:keyref>

        <xs:key name="taskIDUniqueKey">
            <xs:selector xpath="tasks/task"/>
            <xs:field xpath="id"/>
        </xs:key>
        <xs:keyref name="taskIDUniqueKeyRef" refer="taskIDUniqueKey">
            <xs:selector xpath="studentTasks/studentTask"/>
            <xs:field xpath="taskID"/>
        </xs:keyref>

        <xs:key name="studentIDUniqueKey">
            <xs:selector xpath="students/student"/>
            <xs:field xpath="id"/>
        </xs:key>
        <xs:keyref name="studentIDUniqueKeyRef" refer="studentIDUniqueKey">
            <xs:selector xpath="studentTasks/studentTask"/>
            <xs:field xpath="studentID"/>
        </xs:keyref>

        <xs:key name="courseTaskIdUniqueKeyCourse">
            <xs:selector xpath="courses/course"/>
            <xs:field xpath="id"/>
        </xs:key>
        <xs:keyref name="courseIDUniqueKeyRef" refer="courseTaskIdUniqueKeyCourse">
            <xs:selector xpath="courseTasks/courseTask"/>
            <xs:field xpath="courseID"/>
        </xs:keyref>

        <xs:key name="courseTaskIdUniqueKeyTask">
            <xs:selector xpath="tasks/task"/>
            <xs:field xpath="id"/>
        </xs:key>
        <xs:keyref name="courseTaskIDUniqueKeyRef" refer="courseTaskIdUniqueKeyTask">
            <xs:selector xpath="courseTasks/courseTask"/>
            <xs:field xpath="taskID"/>
        </xs:keyref>

    </xs:element>

    <xs:simpleType name="stringRestriction">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="emailRestriction">
        <xs:restriction base="xs:string">
            <xs:pattern value=".{1,8}@.{1,8}\..{1,3}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="taskTypeRestriction">
        <xs:restriction base="xs:attribute">
            <xs:enumeration value="theory"/>
            <xs:enumeration value="practice"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="rateRestriction">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="5"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="theoryStatuses">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Not Started"/>
            <xs:enumeration value="In Progress"/>
            <xs:enumeration value="Complete"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="practiceStatuses">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Not Started"/>
            <xs:enumeration value="In Progress"/>
            <xs:enumeration value="Complete"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>